@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger text-center mb-5 title-error">Error</h1>

<div class="container">
    <div class="row align-items-center justify-content-center">

        <!-- Mensaje de error -->
        <div class="col-md-6 mb-4">
            <div class="error-box">
                <h2 class="text-danger" style="font-weight: bold;">@ViewData["ErrorMessage"]</h2>
                <a href="/Home/Index" class="btn-login-custom">Ir a Home</a>
            </div>
        </div>

        <!-- Imagen de alerta -->
        <div class="col-md-6 text-center">
            <img src="~/Img/stop.jpg" alt="Alerta" class="alerta-img">
        </div>

    </div>
</div>

<!-- CSS personalizado para la vista de Error -->
<style>
    /* Estilo del título principal Error */
    .title-error {
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 800;
        font-size: 59px;
    }

    /* Caja del mensaje de error */
    .error-box {
        background-color: #e8e8e8;
        border: 3px solid #b2bdb8;
        padding: 40px;
        border-radius: 15px;
        text-align: center;
    }

    /* Imagen de alerta */
    .alerta-img {
        max-width: 100%;
        height: auto;
        max-height: 300px;
    }

    /* Estilo del botón de login */
    .btn-login-custom {
        background-color: #00bf63;
        border: 2px solid #00bf63;
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 10px;
        display: inline-block;
        transition: all 0.3s ease;
    }

        .btn-login-custom:hover {
            background-color: white;
            border: 2px solid #00bf63;
            color: #00bf63;
        }
</style>


