
@{
    ViewData["Title"] = "Recomendaciones";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link rel="stylesheet" href="/css/site.css">
<div class="contenedor">
    <h1 class="titulo">Todas las Recomendaciones</h1>
    <table id="tblRecomendaciones">
        <thead>
            <tr><th>Electrodoméstico</th><th>Recomendación</th></tr>
        </thead>
        <tbody></tbody>
    </table>
    <div id="mensaje" class="mensaje"></div>
</div><script src="/js/Dc/recomendaciones.js"></script>